


<div class="container mt-5" id="job-view-container">
  <h1>{{job.title}}</h1>
  <p><strong>Empresa:</strong> {{job.company}}</p>
  <p><strong>Descrição:</strong> {{job.description}}</p>
  <p><strong>Salário:</strong> R${{job.salary}}</p>
  <p><strong>Email para contato:</strong> {{job.email}}</p>
  {{#if job.new_job}}
    <span class="badge badge-success">Nova</span>
  {{/if}}
  <br><br>
  <a href="/" class="btn btn-secondary">Voltar</a>
</div>